{% extends 'base.twig' %}
{% block content %}
    <table class="table-bordered">
        <tr>
            <th>Time</th>
            <th>Title</th>
            <th>Episode</th>
            <th>Sub-title</th>
            <th>Description</th>
        </tr>
        {% for program in programs %}
            <tr>
                <td>{{ program.start }}</td>
                <td>{{ program.title }}</td>
                {% if program.season is defined %}
                    <td>{{ program.formatEpisode }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ program.sub_title }}</td>
                <td>{{ program.description }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}